/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #f1f2f2;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.625rem 1.0416%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 97.9104%;
}

.col-1-sm {
  width: 6.2496%;
}

.col-2-sm {
  width: 14.5824%;
}

.col-3-sm {
  width: 22.9152%;
}

.col-4-sm {
  width: 31.248%;
}

.col-5-sm {
  width: 39.5808%;
}

.col-6-sm {
  width: 47.9136%;
}

.col-7-sm {
  width: 56.2464%;
}

.col-8-sm {
  width: 64.5792%;
}

.col-9-sm {
  width: 72.912%;
}

.col-10-sm {
  width: 81.2448%;
}

.col-11-sm {
  width: 89.5776%;
}

.col-12-sm {
  width: 97.9104%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 6.2496%;
  }

  .col-2 {
    width: 14.5824%;
  }

  .col-3 {
    width: 22.9152%;
  }

  .col-4 {
    width: 31.248%;
  }

  .col-5 {
    width: 39.5808%;
  }

  .col-6 {
    width: 47.9136%;
  }

  .col-7 {
    width: 56.2464%;
  }

  .col-8 {
    width: 64.5792%;
  }

  .col-9 {
    width: 72.912%;
  }

  .col-10 {
    width: 81.2448%;
  }

  .col-11 {
    width: 89.5776%;
  }

  .col-12 {
    width: 97.9104%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* ==== LETSBRUPPER - CONTENT ==== */

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

.header {
	height: 60px;
	background-color: #4db6ac;
	position: fixed;
    width: 100%;
    z-index: 9999;
}

.sorting {
	width: 50%;
    min-width: max-content;
    margin: 1.7rem 0;
    float: right;
    font-size: 1.125rem;
    font-weight: 300;
    background: none;
    padding: 10px;
    outline: none;
    border: 1px solid #000;
}

.logo {
	background: url('../images/logo0.png') #424242 no-repeat center;
	height: 60px;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.footer {
	background-color: #424242;
	padding: 3.5rem 0;
	margin-top: 9.375rem;
}

.app-wrap {
	float: right;
}

.app-border {
	border-radius: 10px;
    border: 1px solid #fff;
	display: inline-block;
}

.app-appstore-bg {
	background: url('../images/app.png') 0 0 no-repeat;
	height: 48px;
    width: 166px;
    margin: 0.625rem;
}

.app-googleplay-bg {
	background: url('../images/app.png') -166px 0 no-repeat;
	height: 48px;
    width: 166px;
    margin: 0.625rem;
}

.left-side {
	
}

.left-side li {
	margin-bottom: 1.25rem;
	padding-bottom: 0.625rem;
	background-color: #fff;
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
}

.feature-image {
	height: 11.25rem;
    width: 100%;
    object-fit: cover;
}

.restaurant-details {
	margin: 0.625rem;
}

.restaurant-info {
	
}

.button-field {
	margin: 1rem;
	
}

#selected-friend {
	padding: 0.8rem 0;
    margin: 0.8rem 0;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
}

.standard-button {
	height: 40px;
    min-width: 120px;
    font: 1rem/100% lato;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 20px;
    background: none;
}

.standard-button:hover {
	background-color: #4db6ac;
	border-color: #4db6ac;
	color: #fff;
}

#details {
	display: inline;
}

.rating {
	display: inline-block;
    background: url('../images/rating.png') no-repeat;
    height: 17px;
    width: 91px;
	margin: 0 5px;
}

#s1 {
	background-position: 0 0;
}

#s2 {
	background-position: 0 -17px;
}

#s3 {
	background-position: 0 -34px;
}

#s4 {
	background-position: 0 -51px;
}

#s5 {
	background-position: 0 -68px;
}

.distance {
	display: inline;
    float: right;
}

.arrow {
	background: url('../images/distance.png') no-repeat;
	display: inline-block;
    height: 22px;
    width: 20px;
	margin-right: 5px;
}

.right-side {
	border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);

}

.map {

}

.friend-list {
	padding: 0 1.5rem;
	margin-bottom: 2rem;
}

.friend-list li {
	padding: 0.4rem 0;
}

.avatar {
	height: 48px;
    width: 48px;
    border-radius: 50%;
	display: inline-block;
}

.status {
	width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 32px;
    left: 32px;
    position: relative;
}

#online {
	background-color: green;
}

#offline {
	background-color: gray;
}

#busy {
	background-color: yellow;
}

.like-dislike {
	display: inline-block;
    background: url('../images/like.png') no-repeat;
    height: 48px;
    width: 33px;
}

#like {
	background-position: 0 0;
}

#dislike {
	background-position: -33px 0;
}

#nope {
	background: none;
}

/* ==== LETSBRUPPER - CHATBOX ==== */

.chatbox-wrapper {
	position: fixed;
	overflow: hidden;
    height: 450px;
    width: 320px;
    right: 0;
    bottom: 0;
	border: 1px solid #26A69A;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
}

.chatbox-name {
	height: 30px;
    background: #26A69A;
    color: #fff;
    text-align: center;
    line-height: 1.6rem;
}

.button-close {
    color: #fff;
    font: 16px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
    border: none;
    background: none;
}

.button-close:after {
	content: '✖'; /* UTF-8 symbol */
}

.chatbox-content {
	overflow-y: scroll;
	height: 360px;
	border-bottom: 1px solid #26A69A;
}

.chatbox-content ul:first-child {
	margin-top: 12px;
}

.chatbox-content ul:last-child {
	margin-bottom: 12px;
}
ul.me, ul.you {
	margin: 2px 0;
    display: inline-block;
    width: 100%;
}

.me li, .you li {
	display: inline-block;
	position: relative;
    clear: both;
    padding: 10px 16px 12.4px;
    border-radius: 20px;
    margin-bottom: 1px;
    line-height: normal;
    font-size: 0.9rem;
    max-width: 200px;
}

.you li {
	float: left;
	margin-left:8px;
	border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
	border: 1px solid #424242;
	padding: 9px 15px 11.4px;
}

.you li:first-child {
	border-top-left-radius: 20px;
}

.you li:last-child {
	border-bottom-left-radius: 20px;
	padding-left: 48px;
	max-width: 168px;
}

.me li {
	float: right;
	background: #4db6ac;
	color: #fff;
	margin-right:8px;
	text-align: left;
	border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.me li:first-child {
	border-top-right-radius: 20px;
}

.me li:last-child {
	border-bottom-right-radius: 20px;
	padding-right: 48px;
	max-width: 168px;
}

.tooltiptext {
	visibility: hidden;
	width: 80px;
    color: #bbb;    
    position: absolute;
    top: calc(50% - 16px);    
    font-size: 0.75rem;
    line-height: normal;
    font-weight: 800;
}

.me li .tooltiptext {
	text-align: right;
	left: -90px;
}

.you li .tooltiptext {
	text-align: left;
	right: -90px;
}

li:hover .tooltiptext {
	visibility: visible;
}

.avatar-chat {
	position: absolute;
	height: 36px;
	border-radius: 50%;
}

.you li .avatar-chat {
	bottom: 1px;
    left: 1px;    
}

.me li .avatar-chat {
	right: 2px;
    bottom: 2px;
}

.chatbox-content::-webkit-scrollbar {
    width: 8px;
}
 
.chatbox-content::-webkit-scrollbar-track {
	background-color: #fff;
	border-left: 1px solid #26A69A;
}
 
.chatbox-content::-webkit-scrollbar-thumb {
	background-color: #26A69A;
    
}

/* ==== LETSBRUPPER - FORMS ==== */

input {
	outline: none;
    border: none;
}

input[type=text] {
	display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid #424242;
}

.chat-input-wrapper {
	position: relative;
	margin: 10px;
    height: 40px;
	width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -o-fill-available;
	width: -ms-fill-available;
	width: fill-available;
    display: inline-block;
}

.chat-input {
	position: absolute;
    top: 0;
    left: 40px;
	padding: 10px 0 0;
    margin: 0 10px;
    width: 200px;
}

.chat-send {
	height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/chat.png) 0 0 no-repeat;
    border: none;
    margin: 0;
    padding: 0;
}

.emoji {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
    width: 40px;
    display: inline-block;
    background: url(../images/chat.png) -40px 0 no-repeat;
}
	