/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #f1f2f2;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.625rem 1.0416%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 97.9104%;
}

.col-1-sm {
  width: 6.2496%;
}

.col-2-sm {
  width: 14.5824%;
}

.col-3-sm {
  width: 22.9152%;
}

.col-4-sm {
  width: 31.248%;
}

.col-5-sm {
  width: 39.5808%;
}

.col-6-sm {
  width: 47.9136%;
}

.col-7-sm {
  width: 56.2464%;
}

.col-8-sm {
  width: 64.5792%;
}

.col-9-sm {
  width: 72.912%;
}

.col-10-sm {
  width: 81.2448%;
}

.col-11-sm {
  width: 89.5776%;
}

.col-12-sm {
  width: 97.9104%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 6.2496%;
  }

  .col-2 {
    width: 14.5824%;
  }

  .col-3 {
    width: 22.9152%;
  }

  .col-4 {
    width: 31.248%;
  }

  .col-5 {
    width: 39.5808%;
  }

  .col-6 {
    width: 47.9136%;
  }

  .col-7 {
    width: 56.2464%;
  }

  .col-8 {
    width: 64.5792%;
  }

  .col-9 {
    width: 72.912%;
  }

  .col-10 {
    width: 81.2448%;
  }

  .col-11 {
    width: 89.5776%;
  }

  .col-12 {
    width: 97.9104%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* ==== LETSBRUPPER ==== */

.header {
	height: 60px;
	background-color: #4db6ac;
	position: fixed;
    width: 100%;
    z-index: 9999;
}

.logo {
	background: url('../images/logo0.png') #424242 no-repeat center;
	height: 60px;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.footer {
	background-color: #424242;
	height: 200px;
}

.left-side {
	list-style: none;
    padding: 0;
	margin: 0;
}

.left-side li {
	margin-bottom: 1.25rem;
	padding-bottom: 0.625rem;
	background-color: #fff;
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
}

.feature-image {
	height: 11.25rem;
    width: 100%;
    object-fit: cover;
}

.restaurant-details {
	margin: 0.625rem;
}

#details {
	display: inline;
}

.rating {
	display: inline-block;
    background: url('../images/rating.png') no-repeat;
    height: 17px;
    width: 91px;
	margin: 0 5px;
}

#s1 {
	background-position: 0 0;
}

#s2 {
	background-position: 0 -17px;
}

#s3 {
	background-position: 0 -34px;
}

#s4 {
	background-position: 0 -51px;
}

#s5 {
	background-position: 0 -68px;
}

.distance {
	display: inline;
    float: right;
}

.arrow {
	background: url('../images/distance.png') no-repeat;
	display: inline-block;
    height: 22px;
    width: 20px;
	margin-right: 5px;
}

.right-side {
	border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);

}

.map {

}

.friend-list {

}

.avatar {
	height: 48px;
    width: 48px;
    border-radius: 50%;
	display: inline-block;
}

.status {
	width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 32px;
    left: 32px;
    position: relative;
}

#online {
	background-color: green;
}
